body { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  display: inline-block;
  font-size: 3em;
  margin: 0;
  color: white;
}

h1:hover {
  color: gray;
}

.small-header {
  display: inline-block;
  text-align: center;
  color: white;
}

.info-row {
  position: absolute;
  top: 93vh;
  color: white;
}

.blog-rows {
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px; 
}

h2 {
  color: white;
  font-size: 2.5em;
}

a h2:hover {
  color: gray;
}

h3 {
  color: white;
  font-size: 2.5em;
  text-align: center;
}

a {
  color: white;
}

a:hover{
  color: gray;
}