.row.info-row
  .large-12.columns
    .show-for-medium-up
      .large-4.columns
        %h1 bencalegari.
      .large-8.columns  
        .show-for-medium-up
          .large-3.columns
            %a.icon-home.icon-4x{href: "/blog.html"}
          .large-3.columns
            %a.icon-github.icon-4x{href: "http://github.com/bencalegari"}
          .large-3.columns  
            %a.icon-twitter.icon-4x{href: "http://twitter.com/bencalegari"}
          .large-3.columns  
            %a.icon-linkedin.icon-4x{href: "http://linkedin.com/pub/ben-calegari/63/3a6/b91"}
.show-for-small
  .small-header.row
    %h2 bencalegari.
  .small-info.row
    .small-3.columns
      %a.icon-home.icon-3x{href: "/blog.html"}
    .small-3.columns
      %a.icon-github.icon-3x{href: "http://github.com/bencalegari"}
    .small-3.columns  
      %a.icon-twitter.icon-3x{href: "http://twitter.com/bencalegari"}
    .small-3.columns  
      %a.icon-linkedin.icon-3x{href: "http://linkedin.com/pub/ben-calegari/63/3a6/b91"}
    