
.row.info-row
  .large-12.columns
    .large-4.columns
      %h1 bencalegari.
    .large-8.columns  
      .show-for-medium-up
        .large-3.columns
          .icon-home.icon-4x
        .large-3.columns
          .icon-github.icon-4x
        .large-3.columns  
          .icon-twitter.icon-4x
        .large-3.columns  
          .icon-linkedin.icon-4x
        / .large-2.columns  
        /   .icon-linkedin.icon-4x